.defaultPlayer .title {
  font-size: 64px;
  color: #090199;
  margin-bottom: 70px;
  font-weight: bold;
  background: -webkit-linear-gradient(to right, #1890ff, #090199);
  background: linear-gradient(to right, #1890ff, #090199);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.defaultPlayer .main {
  text-align: left;
}
.defaultPlayer .main .videoAndBtns {
  margin-bottom: 40px;
}
.defaultPlayer .main .videoAndBtns .video {
  margin-bottom: 24px;
  background: black;
  text-align: center;
  position: relative;
}
.defaultPlayer .main .videoAndBtns .video .videoEle {
  display: inline-block;
  cursor: pointer;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible {
  background: rgba(20, 20, 20, 0.03);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible .slider {
  height: 12px;
  position: relative;
}
.defaultPlayer
  .main
  .videoAndBtns
  .video
  .controlVisible
  .slider
  :global
  .ant-slider {
  width: 100%;
  margin: 0;
}
.defaultPlayer
  .main
  .videoAndBtns
  .video
  .controlVisible
  .slider
  :global
  .ant-slider
  .ant-slider-track {
  z-index: 2;
}
.defaultPlayer
  .main
  .videoAndBtns
  .video
  .controlVisible
  .slider
  :global
  .ant-slider
  .ant-slider-handle {
  z-index: 3;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible .slider .buffered {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background: rgba(9, 1, 153, 0.3);
  transform: translate(0, -50%);
  border-radius: 2px;
  z-index: 1;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible .options .left {
  text-align: left;
  color: white;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible .options .left span {
  display: inline-block;
  margin-right: 6px;
  line-height: 25px;
}
.defaultPlayer
  .main
  .videoAndBtns
  .video
  .controlVisible
  .options
  .left
  .playStatus {
  font-size: 1.7em;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.defaultPlayer
  .main
  .videoAndBtns
  .video
  .controlVisible
  .options
  .left
  .playStatus:hover {
  opacity: 0.8;
}
.defaultPlayer .main .videoAndBtns .video .controlVisible .options .right {
  text-align: right;
}
.defaultPlayer .main .videoAndBtns .video .overlay {
  z-index: 2;
  background: rgba(20, 20, 20, 0.3);
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.defaultPlayer .main .videoAndBtns .video .overlay .outer {
  position: relative;
  width: 100%;
  height: 100%;
}
.defaultPlayer .main .videoAndBtns .video .overlay .outer .inlineDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.defaultPlayer .main .videoAndBtns .video .replay .text {
  margin-top: 16px;
  font-size: 1.2em;
}
.defaultPlayer .main .videoAndBtns .video .error .text {
  margin-left: 8px;
}
.defaultPlayer .main .videoAndBtns .btns button {
  border-radius: 0;
  background: #090199;
  width: 110px;
  border-color: #090199;
  color: white;
}
.defaultPlayer .main .videoAndBtns .btns button:hover {
  color: orange;
}
.defaultPlayer .main .tabs .upload,
.defaultPlayer .main .tabs .external {
  padding: 32px;
}
.defaultPlayer .main .tabs .upload .warning,
.defaultPlayer .main .tabs .external .warning {
  font-size: 1.1em;
  width: 80%;
  color: #07017f;
  margin-bottom: 24px;
}
.defaultPlayer .main .tabs .upload .uploadInput .addOnBefore {
  width: 100px;
  display: inline-block;
}
.defaultPlayer .main .tabs .upload .uploadInput .addOnBefore .text {
  margin-left: 6px;
  font-weight: bold;
}
.defaultPlayer .main .tabs .upload .uploadInput .addOnAfter {
  width: 38px;
  display: inline-block;
}
.defaultPlayer .main .tabs .upload .uploadInput .addOnAfter .btn {
  cursor: pointer;
}
.defaultPlayer .main .tabs .upload .uploadInput .addOnAfter .btn:hover {
  color: #090199;
}
