.app {
  height: 100vh;
  position: relative;
}
.app .inlineDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1100px;
}
.app .inlineDiv .content {
  margin-bottom: 48px;
}
