.app {
    height: 100vh;
    padding-top: 120px;
    .inlineDiv {
        margin: auto;
        width: 1000px;
        margin-bottom: 100px;
        .content {
            margin-bottom: 48px;
        }
    }
}